[submodule "OBDSimulator"]
	path = OBDSimulator
	url = https://github.com/pestadieu/OBDSimulator
[submodule "wiser_car_module"]
	path = wiser_car_module
	url = https://github.com/pestadieu/wiser_car_module
